<div class="text-center my-24">
  <% if current_user.present? %>
    <h1 class="tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
      <span>Welcome to your Dashboard, <%= current_user.name %></span><br>
      <span class="text-indigo-600">Lets be healthy</span>
    </h1>
    <p class="mt-5 mb-10 text-gray-500 sm:text-lg md:text-xl">Your Salud application</p>
    <% if current_user.patient? %>
`      <p><%= link_to 'Patient Dashboard', dashboard_patient_path(current_user.patient) %></p>
`    <% end %>
  <% end %>
</div>
